@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Sriracha&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.heading {
    display: flex;
    justify-content: center;
    font-family: 'bangers';
    font-size: 2.5rem;
    color: rgb(0, 204, 255);
    text-shadow: 1px 1px 2px black;
    margin: 5px;
}

.heading-cheese {
    display: flex;
    justify-content: center;
    font-family: 'bangers';
    font-size: 1.9rem;
    color: rgb(0, 204, 255);
    text-shadow: 1px 1px 2px black;
    margin: 5px;
}

.definition {
    font-family: 'sriracha';
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 360px;
    height: 300px;
    background-color: aliceblue;
    padding: 5px;
    line-height: 30px;
}

.definition-cheese {
    font-family: 'sriracha';
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 360px;
    height: 300px;
    background-color: aliceblue;
    padding: 5px;
    line-height: 25px;
}

.definition-hit {
    font-family: 'sriracha';
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 360px;
    height: 300px;
    background-color: aliceblue;
    padding: 5px;
    line-height: 25px;
}

.paragraph {
    margin-left: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 5px 5px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'bangers';
    font-size: 1.1rem;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    border-style: none;
    margin: 5px;
    background: #fff;
    color: dodgerblue;
    text-shadow: 1px 1px 2px black;
    box-shadow: inset 2px 2px 10px rgba(0,0,0,0.5);
}

.btn-translate {
    align-items: center;
    font-family: 'bangers';
    font-size: 1.1rem;
    width: 80px;
    height: 30px;
    border-radius: 12px;
    border-style: none;
    margin-top: 20px;
    background: #fff;
    color: rgb(30, 255, 0);
    text-shadow: 1px 1px 2px black;
    box-shadow: inset 2px 2px 10px rgba(0,0,0,0.5);
}

.btn-next {
    align-items: center;
    font-family: 'bangers';
    font-size: 1.1rem;
    width: 80px;
    height: 30px;
    border-radius: 12px;
    border-style: none;
    margin-top: 20px;
    background: #fff;
    color: rgb(30, 255, 0);
    text-shadow: 1px 1px 2px black;
    box-shadow: inset 2px 2px 10px rgba(0,0,0,0.5);
}

.bottom-buttons {
    display: flex;
    justify-content: space-between;
    color: rgb(30, 255, 0);
}

a {
    text-decoration: none;
    background-color: #fff;
    color: rgb(30, 255, 0);
    text-shadow: 1px 1px 2px black;
    box-shadow: inset 2px 2px 10px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
}







