@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Sriracha&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.heading {
    display: flex;
    justify-content: center;
    font-family: 'bangers';
    font-size: 2.5rem;
    color: rgb(0, 204, 255);
    text-shadow: 1px 1px 2px black;
    margin: 10px;
}

.definition {
    font-family: 'sriracha';
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 360px;
    height: 300px;
    background-color: aliceblue;
    padding: 5px;
}

.paragraph {
    margin-left: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 10px 5px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'bangers';
    font-size: 1.1rem;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    border-style: none;
    margin: 5px;
    background: #fff;
    color: rgb(0, 204, 255);
    text-shadow: 1px 1px 2px black;
    box-shadow: inset 2px 2px 10px rgba(0,0,0,0.5);
}

.btnTranslate {
    font-family: 'bangers';
    font-size: 1.1rem;
    width: 80px;
    height: 30px;
    border-radius: 12px;
    border-style: none;
    margin-top: 20px;
    margin-left: 0px;
    background: #fff;
    color: fuchsia;
    text-shadow: 1px 1px 2px black;
    box-shadow: inset 2px 2px 10px rgba(0,0,0,0.5);
}

.bottom-buttons {
    display: flex;
    justify-content: space-between;
    color: rgb(212, 0, 255);
}

.next {
    width: 80px;
   margin-top: 10px;
}

